
body{
    background-color: #000;
    color: #fff;
    font-family: monospace;

}

/** Paramètres du terrain **/

#terrain{
    position: relative;
    border: 1px solid #000;
	border-top-color: #fff;
    border-bottom-color: #fff;
    
    width:800px;
    height:400px;
}

.vert{
	border-top-color: #0f0 !important;
    border-bottom-color: #0f0 !important;
}

.rouge{
	border-top-color: #f00 !important;
    border-bottom-color: #f00 !important;
}

/** Paramètres de la balle **/

#balle{
    position: absolute;
    top: 50%;
    left: 50%;  
    width:15px;
    height:15px;
    border-radius: 100%;
    background-color: white; 
    
}

.raquette{
	position: absolute;
    width:10px;
    height:75px;
    background-color: white;
}

.rtouche{
	background-color: #0f0 !important;
}

#rgauche{
    left: 0;
	top: 50%;
}

#rdroite{
    left: 0;
	top: 50%;
}

.joueur{
	position: absolute;
	top: 20%;
	font-size: 22px;
}

#jgauche{
    left: 20%;
	color: blue;
}

#jdroite{
    left: 80%;
	color: red;
}

/** Centrer le contenu **/

body{    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}